@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: inherit;
  color: inherit;
}
ul,
ol {
  list-style: none;
}
img {
  max-width: 100%;
}

/* common */

html {
  background-color: #fff;
  color: #333;
}

/* style */

header {
  width: 1200px;
  height: 100px;
  margin: 0 auto;
  background-color: darkblue;
}
