@import 'tailwindcss';

html {
  padding: 10px;
}
input {
  border: 1px solid black;
  margin-right: 10px;
}
button {
  cursor: pointer;
  padding: 3px 10px;
  border: 1px solid black;
  background-color: rgb(192, 192, 192);
}
button:hover {
  background-color: rgb(158, 158, 158);
}
hr {
  padding: 10px;
}
