@import 'tailwindcss';

@keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }
  20% {
    opacity: 1;
    transform: translateY(0);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-5px);
  }
}
.animate-fade {
  animation: fade 1.2s ease forwards;
}
